CSS notes

STYLING ELEMENTS

  selector {
    character: value;
  }

  Example:

  p{
    color: green;
    font-size: 25px;
  }

USING CLASSES TO STYLE SPECIFIC ELEMENTS
  In HTML:
  <selector class ="classname">

  In CSS:
  .classname{
      character: value;
  }

  Example:
  In HTML:
  <h1 class="blueborder">All About Janelle Monae!>/h1>

  In CSS

    .blueborder{
      border:10px dashed blue;
      }
USING AN ID TO STYLE ONE ELEMENTS

In HTML:
  <selector id = "idname"> blah blah blah </selector

In CSS:
  #idname {
      character: value;
  }

Example

In HTML:
  <li id="funkyborder"> blah blah blah </li>

In CSS:
  #funkyborder{
    border: 20px solid purple;
  }

Some helpful characters!
border-radius: smooths the edges of a box to make more circular
box-shadow: places a shadow on a box of an element (px or %)
height: changes the height of an element (px or %)
width: changes the width of an element (px or %)
border: creates a border around element
color: changes the font color
font-family: changes the font-face

FLEX-BOX: arrange items in a container
-ALWAYS need to start with display:flex;
-DIFFERENT OPTIONS
  *justify-content (arranges items horizontally on page): center,space-between, space-around
  *Align-Items (arranges items vertically on page): center, flex-end, flex-start
  *flex-direction (direction objects are placed):row, row-reverse, column, and column-reverse
  *flex-wrap (organizes content on lines/rows): wrap (multiple lines), no-wrap (one line), wrap-reverse (items in reverse order on multiple lines)
